*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  padding: 16px;
  height: 100vh;
}

.card {
  padding: 10px;
  display: flex;
  flex-flow: column;
  height: 100%;
}

.data-grid {
  width: 100%;
}

.fl-row {
  display: flex;
  flex-flow: row;
  justify-content: space-evenly;;
  flex-wrap: wrap;
  margin: 10px 0px;
}

.fl-colums {
  display: flex;
  justify-content: center;
  margin: 0px 5px 10px;
}
